
<div class="fixed inset-0 w-full h-full hidden items-center justify-center bg-black/50 " id="modal">
    <div class="w-full h-full flex items-center justify-center">
        <div class="w-[calc(100vw-20px)] md:w-[500px] bg-white p-5 rounded-xl" id="modal-content" />
    </div>
</div>